<div class="card">
  <div class="card-body ">
    <div class="row">
      <div class="col-6 align-self-center py-6">
        <div class="d-flex justify-content-around align-items-center">
          <div class="mytext-class">
            <p class="card-text">VSCO Support</p>
            <h1 class="card-title">How can we help?</h1>
            <br>
            <form class="form-inline">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">?</span>
                </div>
                <input type="text" class="form-control" placeholder="Type a question" aria-label="Question"
                  aria-describedby="basic-addon1">
              </div>
            </form>
            <br>
            <br>
            <br>
            <h6>Didn't find what you're looking for?</h6>
            <p class="small-class">Visit the Community forum to share a <a href="#">feature request</a>, <a
                href="#">find solutions</a>
            </p>
            <p class="small-class">and <a href="#">talk creatively</a> with creators and staff!</p>
          </div>
        </div>
      </div>


      <div class="col-6 align-self-center px-6 py-6">
        <div class="d-flex justify-content-between align-items-center">
          <div class="mypic-class">
            <img src="assets/support.jpeg" alt="" width="429">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>