<nav class= "navbar  navbar-light bg-white">
  <div class="m-1">
    <a class="nav-link nav-item" href="#">
    <svg class="bi" width= "20" height="20" fill="black">
      <use xlink:href="/assets/bootstrap-icons.svg#search"/>
    </svg>
  </a>
    </div>


    <div class="position-absolute top-50 start-50 translate-middle">
      <a class="m-4 navbar-brand" href="#">
        <img src="assets/vsco-logo.png" alt="" height="35">
      </a>
    </div>
    


    <nav class="navbar navbar-expand navbar-light">
      <div class=" navbar-nav container-fluid pull-right">
        <a routerLink="feed" routerLinkActive="active" class="nav-link nav-item fs-6" href="#">My Home</a>
        <a routerLink="rileympal/gallery" routerLinkActive="active" class="nav-link nav-item fs-6" href="#">Profile</a>
        <a routerLink="user/account" routerLinkActive="active" class="nav-link nav-item fs-6" href="#">Account</a>
        <a routerLink="support" routerLinkActive="active" class="nav-link nav-item fs-6" href="#">Support</a>
        <a routerLink="community" routerLinkActive="active" class="nav-link nav-item fs-6" href="#">Community</a>
      </div>
    </nav>
</nav>