.header1{
    color:white;
    font-weight: 400;
    padding-left: 350px;
}

.myclass1{
    background-color: black;
}

.myclass2{
    padding-left:330px;
}

.header2{
    color:black;
    font-weight: 400;
    padding-left: 350px;
}


