<div class="container">
    <div class="row">
        <div class="col-8">
            <form #postForm="ngForm" (ngSubmit)="addFeedPicture(postForm.value)">
                <div class="input-group">
                    <span class="input-group-text">
                        Image Path:
                    </span>
                    <input type="text" class="form-control" ngModel name="img">
                </div>

                <div class="input-group">
                    <span class="input-group-text">
                        Username:
                    </span>
                    <input type="text" class="form-control" ngModel name="name">
                </div>

               
        
                <button type="submit" class="btn btn-light">Add Feed Image</button>
            </form>

        </div>
    </div>

</div>