

<div class="card m-4" >
    <div class="card-body"  >
        <div class= "circle-icon" [style.background-color]='color'>
        <svg class="bi" width= "25" height="25" fill="black"  >
            <use [attr.xlink:href]='logo' />
          </svg>
        </div>
    <h4>
      <a href="#" class="card-title card-link">{{title}}</a>
    </h4>
    <h6>
      <a href="#" class="card-subtitle card-link mb-2">{{firstLine}}<br>{{secondLine}}<br>{{thirdLine}}<br>{{fourthLine}}</a>
    </h6>
      <br>
      
      
      <a href="#" class="card-text card-link">{{link}}</a>
      <br>
      <a href="#" class="card-text card-link">{{link2}}</a>
    
    </div>
  </div>