

<div class="card m-4">
    <div class="card-body">
        <div class= "circle-icon">
        <svg class="bi" width= "25" height="25" fill="black" >
            <use xlink:href="/assets/bootstrap-icons.svg#chat"/>
          </svg>
        </div>
    <h4>
      <a href="#" class="card-title card-link">Help & Tips</a>
    </h4>
    <h6>
      <a href="#" class="card-subtitle card-link mb-2">Ask the community for help and <br> share your tips with others! Get<br> suport help from one of our<br> agents at VSCO Support</a>
    </h6>
      <br>
      
      
      <a href="#" class="card-text card-link">Introducing: VSCO Community</a>
    
    </div>
  </div>