<div class="container-fluid my-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="row d-flex justify-content-center">
                <div class="col-2" *ngFor="let accountcircle of accountcircles">
                    <vsco-account-circle-component logo={{accountcircle.logo}} title={{accountcircle.title}}
                        color={{accountcircle.color}}>Loading...
                    </vsco-account-circle-component>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="title-class1">
                    <p class="line">_______________</p>
                    <p>Profile</p>
                </div>
            </div>



            <div class="row d-flex justify-content-center">              
                    <vsco-profile-blank-component>Loading...</vsco-profile-blank-component>              
            </div>

        

            <div class="row">
                
            <div class=" d-flex justify-content-end px-6">
                
            <vsco-vsco-profile-card>Loading...</vsco-vsco-profile-card>
            </div>
            </div>

        </div>
        <div class="col-2"></div>
    </div>
</div>