


.title-class1{
    text-align: center;
    font-size: large !important;
    font-weight: 500;
}

.line{
    text-align: center;
    color: gray;
    font-size: xx-small;
    font-weight: 300;
}

.title-class2{
    text-align: center;
    font-size: large !important;
    font-weight: 500;
}

