<div class="container-fluid d-flex p-3">
  <form>
    <div class="row g-3">
      <div class="col-5 mx-3">
        <label for="firstName" class="form-label">First name</label>
        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
      </div>

      <div class="col-5 mx-3">
        <label for="lastName" class="form-label">Last name</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
      </div>


    </div>

    <div class="row g-3">
      <div class="col-5 mx-3">
        <label for="firstName" class="form-label">Email</label>
        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
      </div>

      <div class="col-5 mx-3">
        <label for="lastName" class="form-label">Company</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
      </div>
    </div>
  </form>
</div>