
            <p class="line px-6">_______________</p>
            <p class="px-6">VSCO Profile</p>
            <div class="card">

                <div class="card-body">
                    <br>

                    <img src="assets/vsco-logo.png" alt="" height="40">
                    <br>
                    <br>

                    <div class="card-subtitle"> vsco.co/rileympal</div>

                    <br>

                    <a href="#" class="card-text card-link">Share Your VSCO Profile</a>

                </div>

            </div>
 